<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">
        <header class="header">
            <h1 class="title"><a href="/">{{ site.sitename }}</a></h1>
        </header>

        {{ content }}

        <div class="clearfix"></div>
        <footer class="footer">
            <div class="contact muted">
                Template by <a href="http://o.zasadnyy.com/">Oleh Zasadnyy</a> &#8226; <a href="">Project repository</a>
            </div>
        </footer>
    </div>
</body>

</html>
